@model IEnumerable<Biblioteca.Models.Genero>

@{
    ViewData["Title"] = "Generos";
    string searchTerm = ViewBag.SearchTerm as string ?? "";
}

<div class="row">
    <div class="col-1 col-md-2 col-lg-2"></div>
    <div id="divMinhasRetiradas" class="col-10 col-md-8 col-lg-8 bg-black text-light m-lg-5 mb-3 p-5">
        <h1 class="text-center mb-5">Generos Literários</h1>


        <div id="divLocalizarReserva" class="mb-4">
            <form asp-action="Index" method="get" class="mb-3">
                <div class="input-group">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Localizar gênero..." value="@searchTerm" />
                    <button type="submit" class="btn btn-outline-light">
                        <i class="bi bi-search"></i> Localizar
                    </button>
                </div>
            </form>
        </div>


        <table class="table table-dark table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.GeneroId" class="text-light text-decoration-none me-2"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.LivroId" class="text-light text-decoration-none me-2"><i class="bi bi-trash3"></i></a>
                            <form asp-controller="Reservas" asp-action="Create" method="post" class="d-inline">
                                <input type="hidden" name="LivroId" value="@item.LivroId" />
                                <button type="submit" class="btn btn-link text-light text-decoration-none p-0 m-0 align-baseline">
                                    <i class="bi bi-check-square"></i> Reservar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
